@page "/"

<PageTitle>Who is she</PageTitle>

<h1>Hey I'm Simone 👋🏽</h1>

<p>
    I work as a Technical Specialist and mainly work on SSRS reports and C# applications. I studied Computer Science at King's College London and graduated back in 2019 🎓
</p>

<p>
    FUN FACT - When I was younger, I used to spruce up peoples MySpace backgrounds for fun. Playing around with the HTML, moving features around and changing colours was my first exposure to coding, and what initially sparked my interest in this field. 💥
</p>

<p>
    ✨ A BIT ABOUT ME ✨ <br /> 
    I've recently found a new love of mine, hackathons! 🫶🏽 I attended my first-ever hackathon last year, and it was amazing! I would strongly recommend going to one if you are a techie or want to get into tech and have never been to one, you learn so much, meet so many great people and come away feeling super inspired. 
</p>

<p>
    I am a massive sucker for a movie night. Harry Potter is one of my all-time favourites. 🧙‍♀️🪄
</p>